body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    overflow: hidden;
}

nav a {
    display: inline-block;
    padding: 1em;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #0056b3;
}

a {
    color: blue; /* Couleur du texte */
    text-decoration: none; /* Suppression du soulignement */
    font-weight: bold; /* Texte en gras */
 }

/* Style du lien au survol */
a:hover {
    color: red; /* Couleur du texte au survol */
    text-decoration: underline; /* Ajout du soulignement au survol */
 }

/* Style du lien lors du clic */
a:active {
    color: green; /* Couleur du texte lors du clic */
}

/* Style du lien visité */
a:visited {
     color: purple; /* Couleur du texte après avoir visité le lien */
 }

.container {
    padding: 2em;
}

.section {
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 10%;
    box-shadow: 0 -2px 4px 
